.row
  .large-4.columns
  %fieldset.forms
    %legend Login
    = form_tag '/login', :remote => true do
      = label_tag :username
      = text_field_tag :username, nil, :autofocus => true
      = label_tag :password
      = password_field_tag :password
      = submit_tag "Start Mix'n", :class => 'button radius success', :id =>'mixin_btn'
      = button_to_function('Cancel', 'cancel_login_form()', :id => 'cancel_btn', :class => 'button radius alert')
